<!-- start custom footer snippets -->
<!-- _includes/footer/custom.html -->
<div>
  <h2>Partners</h2>
  <a href="https://vpilotdesigns.github.io">
    <img src="{{ site.baseurl }}/assets/images/logos/V Pilot-01 Hi Res White Letters.png" alt="Logo 1">
  </a>
  <a href="https://globalskysim.com/">
    <img src="{{ site.baseurl }}/path/to/GS.png" alt="Logo 2">
  </a>
  <!-- Add more logos as needed with corresponding hyperlinks -->
</div>
<p>&copy; {{ site.title | escape }}. All rights reserved.</p>

<!-- end custom footer snippets -->
