<!-- start custom footer snippets -->
<!-- _includes/footer/custom.html -->
<style>
  .partner-logos-container {
    overflow-x: auto;
    white-space: nowrap;
    text-align: center;
  }

  .partner-logo {
    margin-right: 10px; /* Adjust the spacing as needed */
    display: inline-block;
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const container = document.querySelector(".partner-logos-container");

    let isMouseDown = false;
    let startX;

    container.addEventListener("mousedown", (e) => {
      isMouseDown = true;
      startX = e.pageX - container.offsetLeft;
    });

    container.addEventListener("mouseleave", () => {
      isMouseDown = false;
    });

    container.addEventListener("mouseup", () => {
      isMouseDown = false;
    });

    container.addEventListener("mousemove", (e) => {
      if (!isMouseDown) return;
      e.preventDefault();
      const x = e.pageX - container.offsetLeft;
      const walk = (x - startX) * 3; // Adjust the multiplier as needed
      container.scrollLeft = container.scrollLeft - walk;
    });
  });
</script>

<div style="text-align: center;">
  <h2>Partners</h2>
</div>
<div class="partner-logos-container">
  <a href="https://flightsimassociation.com/" class="partner-logo">
    <img src="{{ site.baseurl }}/assets/images/logos/FSADark.png" alt="FSA Logo" style="max-width: 100px; max-height: 50px;">
  </a>
  <a href="https://newsky.app/airline/LTS/info" class="partner-logo">
    <img src="{{ site.baseurl }}/assets/images/logos/Coffee Air.png" alt="Coffee Air Logo" style="max-width: 100px; max-height: 50px;">
  </a>
  <a href="https://www.flightsimulator.com/" class="partner-logo">
    <img src="{{ site.baseurl }}/assets/images/logos/MSFS.png" alt="MSFS Logo" style="max-width: 100px; max-height: 50px;">
  </a>
  <a href="https://vpilotdesigns.github.io" class="partner-logo">
    <img src="{{ site.baseurl }}/assets/images/logos/V Pilot-01 Hi Res White Letters.png" alt="V Pilot Logo" style="max-width: 100px; max-height: 50px;">
  </a>
  <a href="https://www.facebook.com/TeikofStudio/" class="partner-logo">
    <img src="{{ site.baseurl }}/assets/images/logos/TKO.png" alt="TKO Logo" style="max-width: 100px; max-height: 50px;">
  </a>
  <a href="https://globalskysim.com/" class="partner-logo">
    <img src="{{ site.baseurl }}/assets/images/logos/GS.png" alt="GS Logo" style="max-width: 100px; max-height: 50px;">
  </a>
  <a href="https://britishavgeek.com/" class="partner-logo">
    <img src="{{ site.baseurl }}/assets/images/logos/BAVG.png" alt="British AVGeek Logo" style="max-width: 100px; max-height: 50px;">
  </a>
  <!-- Add more logos as needed with corresponding hyperlinks and styles -->
</div>
<p style="text-align: center;">&copy; {{ site.title | escape }}. All rights reserved.</p>






<!-- end custom footer snippets -->
