---
layout: splash
author_profile: true

header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/2024/SKBO/01.jpg
  actions:
    - label: "More"
      url: "https://vpilotdesigns.github.io/Airports/"
  caption: "**SKBO - El Dorado Intl**"

feature_row:
  - image_path: /assets/images/2024/SKBO/01.jpg
    alt: "SKBO El Dorado Intl"
    title: "SKBO El Dorado Intl (2024)"
    excerpt: "El Dorado International Airport (SKBO) Bogota, Colombia for MSFS 2024"
    url: "https://vpilotdesigns.github.io/SKBO2024/"
    btn_label: "Read More"
    btn_class: "btn--success"

  - image_path: /assets/images/SKCGV2/Block_01.jpg
    title: "SKCG Rafael Nuñez Intl"
    excerpt: "Rafael Nuñez Airport (SKCG) Cartagena, Colombia"
    url: "https://vpilotdesigns.github.io/SKCGV2/"
    btn_label: "Read More"
    btn_class: "btn--success"

  - image_path: /assets/images/SKBO/Block_30.jpg
    alt: "SKBO El Dorado Intl"
    title: "SKBO El Dorado Intl"
    excerpt: "El Dorado International Airport (SKBO) Bogota, Colombia"
    url: "https://vpilotdesigns.github.io/SKBO/"
    btn_label: "Read More"
    btn_class: "btn--success"

  - image_path: /assets/images/MPTO/Block_03.jpg
    alt: "MPTO Tocumen Intl"
    title: "MPTO Tocumen Intl"
    excerpt: "Tocumen International Airport (MPTO) Panama, Panama"
    url: "https://vpilotdesigns.github.io/MPTO/"
    btn_label: "Read More"
    btn_class: "btn--success"

  - image_path: /assets/images/CYRT/Block_05.jpg
    alt: "CYRT Rankin Inlet"
    title: "CYRT Rankin Inlet Airport"
    excerpt: "Rankin Inlet Airport (CYRT) - Nunavut, Canada"
    url: "https://vpilotdesigns.github.io/CYRT/"
    btn_label: "Read More"
    btn_class: "btn--success"

  - image_path: /assets/images/KHDN/Block_02.jpg
    alt: "KHDN Yampa Valley"
    title: "KHDN Yampa Valley Airport"
    excerpt: "Yampa Valley Airport (KHDN) Kayden, CO USA"
    url: "https://vpilotdesigns.github.io/KHDN/"
    btn_label: "Read More"
    btn_class: "btn--success"

  - image_path: /assets/images/MROC/Block_01.jpg
    alt: "MROC Juan Santamaria"
    title: "MROC Juan Santamaria Intl"
    excerpt: "Juan Santamaria International Airport (MROC) San Jose, Costa Rica"
    url: "https://vpilotdesigns.github.io/MROC/"
    btn_label: "Read More"
    btn_class: "btn--success"

  - image_path: /assets/images/SKPA/Block_07.jpg
    alt: "SKPA Juan Jose Rondon"
    title: "SKPA Juan Jose Rondon"
    excerpt: "Juan Jose Rondon Airport (SKPA) Paipa, Colombia"
    url: "https://vpilotdesigns.github.io/SKPA/"
    btn_label: "Read More"
    btn_class: "btn--success"

  - image_path: /assets/images/KMAF/Block_14.jpg
    alt: "KMAF Midland Intl"
    title: "KMAF Midland International Air and Space Port"
    excerpt: "Midland International Air and Space Port (KMAF) Midland, Texas"
    url: "https://vpilotdesigns.github.io/KMAF/"
    btn_label: "Read More"
    btn_class: "btn--success"

  - image_path: /assets/images/SKUI/Block_01.jpg
    alt: "SKUI El Caraño"
    title: "SKUI El Caraño"
    excerpt: "El Caraño Airport (SKUI) Quibdo, Colombia"
    url: "https://vpilotdesigns.github.io/SKUI/"
    btn_label: "Read More"
    btn_class: "btn--success"

  - image_path: /assets/images/LEJR/BLOCK_03.jpg
    alt: "LEJR Jerez"
    title: "LEJR Jerez"
    excerpt: "Jerez Airport (LEJR) Jerez, Spain"
    url: "https://vpilotdesigns.github.io/LEJR/"
    btn_label: "Read More"
    btn_class: "btn--success"

  - image_path: /assets/images/MPBO/BLOCK_03.jpg
    alt: "MPBO Bocas del Toro"
    title: "MPBO Bocas del Toro Intl"
    excerpt: "Bocas del Toro Airport (MPBO) Bocas del Toro, Panama"
    url: "https://vpilotdesigns.github.io/MPBO/"
    btn_label: "Read More"
    btn_class: "btn--success"

  - image_path: /assets/images/KHPN/Block_20.jpg
    alt: "KHPN Westchester County"
    title: "KHPN Westchester County"
    excerpt: "Westchester County Airport (KHPN), White Plains, NY USA"
    url: "https://vpilotdesigns.github.io/KHPN/"
    btn_label: "Read More"
    btn_class: "btn--success"

  - image_path: /assets/images/KSUU/Block_02.jpg
    alt: "KSUU Travis AFB"
    title: "KSUU Travis Air Force Base"
    excerpt: "Travis Air Force Base (KSUU), California, USA"
    url: "https://vpilotdesigns.github.io/KSUU/"
    btn_label: "Read More"
    btn_class: "btn--success"

  - image_path: /assets/images/SKRG/Block_101.jpg
    title: "SKRG Jose Maria Cordova Intl"
    excerpt: "Jose Maria Cordova Intl (SKRG) Rionegro, Colombia"
    url: "https://vpilotdesigns.github.io/SKRG/"
    btn_label: "Read More"
    btn_class: "btn--success"

  - image_path: /assets/images/SKAR/Block_02.jpg
    title: "SKAR El Eden Intl"
    excerpt: "El Eden Intl (SKAR) Armenia, Colombia"
    url: "https://vpilotdesigns.github.io/SKAR/"
    btn_label: "Read More"
    btn_class: "btn--success"
---

<p><b>Bienvenidos / Welcome</b></p>

<!-- Proper Minimal Mistakes blog feed -->
{% include posts.html %}

<h2>Featured Addons</h2>
<p>Find us in the marketplace for MSFS and MSFS2024</p>

{% include feature_row %}

<p>
  <img src="/assets/images/marketplace2.png" alt="Marketplace" width="100%" height="333">
</p>
